<app-menu></app-menu>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Información</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"> Para facilitar el uso de este proyecto, a continuación se explica el proceso que se deberá aplicar. 
            Duración aproximada de 30 segundos en la descarga y sincronización. </p>
        <div class="row">
            <button (click)="solicitarRecursos()" class="btn btn-primary">Descarga los datos</button><br><br>
        </div>
    </div>
</div>
<div class="container">
    <datatable [data]="data"></datatable>
</div>
